{% extends 'base.html' %}{% block content %}

<a href="{% url "all_tasks" %}">All Tasks</a>

<h1>Hello {{request.user}}</h1>
<h3>You have {{count}} completed tasks.</h3>

{% if request.user.is_authenticated %}
<a href="{% url "logout" %}">Logout</a> {% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

{% if count is 0 %}
<a href="{% url 'create_task' %}">Create a Task</a>
{% else %}
{% for task in finished_tasks %}
<ul><li>{{task}}</li></ul>
{% endfor %}
{% endif %}


{% endblock content %}