{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <title>Aplicacion para listas de tarea</title>
  </head>
  <body>
    <div class="header">
      <div class="dropdown">
        {% if request.user.is_authenticated %}
        <button class="dropbtn">Menu</button>
        
        <div class="dropcontent">
          <a href="{% url "logout" %}">Salir</a>
          <a href="{% url 'all_tasks' %}">Todas las tareas</a>
          <a href="{% url 'low_tasks' %}">Tarea de prioridad baja.</a>
          <a href="{% url 'medium_tasks' %}">Tarea de prioridad Mediana</a>
          <a href="{% url 'high_tasks' %}">Tarea de prioridad alta</a>
          <a href="{% url 'completed_tasks' %}">Tareas Completas</a>
          
        {% else %}
        {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}{% endif %}
    </div></div><div>
      <div class = "block">
    {% block content %}{% endblock content %}</div>
  </body>
</html>
