

body {margin: auto; width: 100%; width: 100%;background-color: #d0d0d0;}

.header {width: 100%;
background-color: #2B303A;
height: 100px;
margin-bottom: 2em;}

.login {
    width: fit-content; 
    padding: 1em; 
    margin: auto; 
    border: 10px #92DCE5;
    background-color: #2B303A;
    color: #000000;
    font-size: large; 
    border-radius: 5%;
  
}

.button {width: fit-content;
background-color: #92DCE5;
color: #2B303A;}

.log {  margin: auto; width: 50%;}