{% extends 'base.html' %}{% block content %}

<div class="all">
  <h1>Hello <span class="user">{{request.user}}</span></h1>

  {% if count is 0 %}
  <button class="button">
    <a href="{% url 'create_list' %}">Create a List</a>
  </button>

  {% else %} {% for list in lists %}
  <p>
    {{task}}

    <a href="{% url 'update_list' list_obj.id %}"
      ><i class="fa fa-pencil"></i
    ></a>
    /
    <a href="{% url 'delete_list' list_obj.id %}"
      ><i class="fa fa-trash"></i
    ></a>
  </p>

  {% endfor %}
  <br /><button class="button">
    <a href="{% url 'create_list'%}">Create a List</a>
  </button>
  {% endif %}
</div>

{% endblock content %}
