{% extends 'base.html' %}{% block content %} {% load static %}

<div><a href="{% url "sp_register" %}" class="edit-btn"><button class="button" id="lang_btn">Español</button></a></div>


<div class="login">
  <form method="POST">
    {% csrf_token %}
    <p><label>{{form.username.label}}:</label> {{form.username}}</p>

    <p><label>{{form.password1.label}}:</label> {{form.password1}}</p>

    <p><label>{{form.password2.label}}:</label> {{form.password2}}</p>
    <p><input class="button" type="submit" value="Register" /></p>
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  {{form.errors}}
</div>

{% endblock content %}
