{% extends 'base.html' %}{% block content %}

<div class="all">
  <h1>Hello <span class="user">{{request.user}}</span></h1>
  <h3>You have <span class="count">{{count}}</span> incomplete tasks.</h3>

  {% if count is 0 %}
  <button><a href="{% url 'create_task' %}">Create a Task</a></button>

  {% else %} {% for task in tasks %}
  <p>
    {{task}}

    <a href="{% url 'update_task' task.id %}"
      ><i class="fa fa-keyboard"></i>Edit</a
    >
    /
    <a href="{% url 'delete_task' task.id %}"><i class="fa fa-trash"></i></a>
  </p>

  {% endfor %}
  <br /><button class="button">
    <a href="{% url 'create_task' %}">Create a Task</a>
  </button>
  {% endif %}
</div>

{% endblock content %}
