{% extends 'base.html' %}{% block content %}

<h1>Hello {{request.user}}</h1>
<h3>You have {{count}} incomplete tasks.</h3>

{% if request.user.is_authenticated %}
<button><a href="{% url "logout" %}">Logout</a> </button>
{% else %}
<button><a href="{% url 'login' %}">Login</a></button>

{% endif %}

{% if count is 0 %}
<button><a href="{% url 'create_task' %}">Create a Task</a></button>

{% else %}
{% for task in tasks %}
<p>{{task}}</p>
<button><a href="{% url 'update_task' task.id %}">Edit</a></button>
<button><a href="{% url 'delete_task' task.id %}">Delete</a></button>


{% endfor %}
{% endif %}
<button><a href="{% url 'low_tasks' %}">View Low Tasks</a></button>
<button><a href="{% url 'medium_tasks' %}">View Medium Tasks</a></button>
<button><a href="{% url 'high_tasks' %}">View High Tasks</a></button>
<button><a href="{% url 'completed_tasks' %}">View Completed Tasks</a></button>


<button><a href="{% url 'create_task' %}">Create a Task</a></button>



{% endblock content %}